.left-sidebar {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white or any color that suits your design */
}

.scroll-sidebar {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white or any color that suits your design */
}
